body {
	background: rgb(194,235,187) url("../images/bg_repeat.gif") repeat fixed 0 0;
	}

/*Foreground*/

#page {
	width: 85%;
	margin: auto;
	padding: .6% 5%;
	background-color: rgba(244,255,247,.9);
	box-shadow: 0 0 10px #374235;
	border-radius: 10px;
	overflow: auto;
	}
	
/*Main heading Candace's Vegan Eats with background gradient*/

h1 {
	padding: 1%;
	color: rgb(255,255,255);
	font-size: 3em;
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	text-align: center;
	text-shadow: 1px 1px 3px #664D4E;
	box-shadow: 2px 2px 3px #374235;
	border-radius: 10px;
	background: #fb83fa;
	background: -moz-linear-gradient(top, #fb83fa 0%, #e93cec 100%);
	background: -webkit-linear-gradient(top, #fb83fa 0%,#e93cec 100%);
	background: -o-linear-gradient(top, #fb83fa 0%,#e93cec 100%);
	background: -ms-linear-gradient(top, #fb83fa 0%,#e93cec 100%);
	background: linear-gradient(to bottom, #fb83fa 0%,#e93cec 100%);
	}
	
/*Supporting lifestyle and Vegan lifestyle*/

h2, h3 {
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	padding-top: 1%;
	}	
	
/*Paragraph and unordered list font and line spacing*/

p,li, figcaption  { 
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5em;
	} 		

/*Vegan lifestyle easier than you think LIST*/

ul li{
	color: rgb(0,105,255);
	list-style-type: square;
	}

/*Top navigation bar with leaf icon*/	
			
nav {
	border-top: 2px solid #374235;
	border-bottom: 1px solid #374235;
	margin-top: -3%;
	background: url("../images/icon.png") no-repeat left center;
	
	}

nav li {
	font-size: 1.2em;
	display: inline;
	margin: 0 2% 0 4%;
	}
	
/*------Navigation bar link style and responses-------*/

/*Link Styling*/

a:link {
	color: #000;
	text-decoration: none;
	}
	
a:visited {
	color: #7A7F7B;
	}
	
/*Link Responses*/

a:hover {
	color: rgb(178,135,137);
	text-decoration: underline;
	}	
	
a:active {
	color: rgb(0,105,255);
	}		
	
/*Quote*/

q {
	font-weight: bold;
	font-style: italic;
	}
		
/*Division*/

#main {
	float: left;
	width: 50%;
	margin: 0px;
	padding: 0 10px 0 0;
	clear: left;
		}

aside {
	float: right;
	width: 44%;
	margin: 2%;
	clear: right;
	/*background-color: rgb(178,135,137);*/
		}
		
/*Clear*/

.clear {
	clear: both;
	}
	
/*Table*/

table {
	border: 1px solid #2d3738;
	float: left;
	width: 100%;
	margin-bottom: 10%;
	background-color: #bee2e4;
	letter-spacing: .02em;
	clear: left;
	}
	
			
th, td {
	font-size: .9em;
	margin: 0;
	border: 1px solid #ffffff;
	text-shadow: 1px 1px 1px #ffffff;
	padding: 5px 10px;
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5em;
	border-spacing: 2px;
	text-align: left;
	}	

tr.even {
	background-color: #F1F8FE;
	}
	
tr:hover {
	background-color: #fcff03;	
	}	

.price {
	text-align: right;	
	}	
		
/*Form*/

fieldset {
	width: 47%;
	margin: 20px 0 0 0;
	border: 1px solid #2d3738;
	border-radius: 5px;
	background-color: #F1F8FE;
	float: left;
	clear: left;
	}
	
legend {
	background-color: #fb83fa;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	color: rgb(255,255,255);
	}

#submit input {
	border: 1px solid #063;
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;	
	width: 10%;
	font-family: Arial, Verdana, sans-serif;
	font-size: .9em;
}	

.box {
	margin: 10px 0 0 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: .9em;
}
	
.title {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	clear: left;
}

input:hover, input:focus {
	background-color: #fcff03;
}

textarea:hover, input:focus {
	background-color: #fcff03;	
}			