body {
	background: rgb(194,235,187);
	}

/*Foreground*/

#page {
	width: 720px;
	margin: auto;
	padding: 5px 40px;
	background-color: rgba(244,255,247,.9);
	box-shadow: 0 0 10px #374235;
	border-radius: 10px;
	}
	
/*Main heading Candace's Vegan Eats*/

h1 {
	background-color: rgb(178,135,137);
	padding: 10px;
	color: rgb(255,255,255);
	font-size: 3em;
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	text-align: center;
	text-shadow: 1px 1px 2px #664D4E;
	border-radius: 10px;
	}
	
/*Supporting lifestyle and Vegan lifestyle*/

h2 {
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	padding-top: 10px;
	}	
	
/*Paragraph and unordered list font and line spacing*/

p,li { 
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5em;
	} 

/*Vegan lifestyle easier than you think LIST*/

ul li{
	color: rgb(0,105,255);
	list-style-type: square;
	}

/*Top navigation bar*/	
			
nav {
	border-top: 2px solid #374235;
	border-bottom: 1px solid #374235;
	margin-top: -20px;
	}

nav li {
	font-size: 1.2em;
	display: inline-block;
	margin: 0px 50px;
	}
	
/*------Navigation bar link style and responses-------*/

/*Link Styling*/

a:link {
	color: #ffffff;
	text-decoration: none;
	}
	
a:visited {
	color: #7A7F7B;
	}
	
/*Link Responses*/

a:hover {
	color: rgb(178,135,137);
	text-decoration: underline;
	}	
	
a:active {
	color: rgb(0,105,255);
	}		
	
/*Quote*/

q {
	font-weight: bold;
	font-style: italic;
	}
		

