body {
	background: rgb(194,235,187) url("../images/bg_repeat.gif") repeat fixed 0 0;
	}

/*Foreground*/

#page {
	width: 85%;
	margin: auto;
	padding: .6% 5%;
	background-color: rgba(244,255,247,.9);
	box-shadow: 0 0 10px #374235;
	border-radius: 10px;
	overflow: auto;
	}
	
/*Main heading Candace's Vegan Eats with background gradient*/

h1 {
	padding: 1%;
	color: rgb(255,255,255);
	font-size: 3em;
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	text-align: center;
	text-shadow: 1px 1px 3px #664D4E;
	box-shadow: 2px 2px 3px #374235;
	border-radius: 10px;
	background: #af6063;
	background: -moz-linear-gradient(top, #af6063 74%, #af7577 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(74%,#af6063), color-stop(99%,#af7577));
	background: -webkit-linear-gradient(top, #af6063 74%,#af7577 99%);
	background: -o-linear-gradient(top, #af6063 74%,#af7577 99%);
	background: -ms-linear-gradient(top, #af6063 74%,#af7577 99%);
	background: linear-gradient(to bottom, #af6063 74%,#af7577 99%);
	}
	
/*Supporting lifestyle and Vegan lifestyle*/

h2 {
	font-family: "Muli", sans-serif;
	letter-spacing: -.04em;
	padding-top: 1%;
	}	
	
/*Paragraph and unordered list font and line spacing*/

p,li { 
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5em;
	} 

/*Vegan lifestyle easier than you think LIST*/

ul li{
	color: rgb(0,105,255);
	list-style-type: square;
	}

/*Top navigation bar with leaf icon*/	
			
nav {
	border-top: 2px solid #374235;
	border-bottom: 1px solid #374235;
	margin-top: -3%;
	background: url("../images/icon.png") no-repeat left center;
	
	}

nav li {
	font-size: 1.2em;
	display: inline-block;
	margin: 0% 7%;
	}
	
/*------Navigation bar link style and responses-------*/

/*Link Styling*/

a:link {
	color: #000;
	text-decoration: none;
	}
	
a:visited {
	color: #7A7F7B;
	}
	
/*Link Responses*/

a:hover {
	color: rgb(178,135,137);
	text-decoration: underline;
	}	
	
a:active {
	color: rgb(0,105,255);
	}		
	
/*Quote*/

q {
	font-weight: bold;
	font-style: italic;
	}
		
/*Division*/

#main {
	float: left;
	width: 39%;
	margin: 0px;
	padding: 0 10px 0 0
		}

#sidebar {
	float: right;
	width: 48%;
	margin: 2%;
	/*background-color: rgb(178,135,137);*/
		}
		
/*Clear*/
.clear {
	clear: both;
	}
	

			